<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout1"><!--indique que cette page va utimse layout layout1.html -->

<head>
  <title>edit Product</title>

</head>
<body>
  <div class="p-3" layout:fragment="content"> <!--voici le fragement qui sera inséré il ale meme nom que layout1.html-->
    <form method="post" th:action="@{/admin/saveProduct}">
      <input type="hidden"  name="id" th:value="${product.id}"/> <!-- pour que save sache est ce que créer ou editer  -->
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input class="form-control" type="text" name="name" th:value="${product.name}">
        <span class="text-danger" th:errors="${product.name}"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Price</label>
        <input class="form-control" type="text" name="price" th:value="${product.price}">
        <span class="text-danger" th:errors="${product.price}"></span>
      </div>
      <div class="mb-3">
        <label class="form-label">Quantity</label>
        <input class="form-control" type="text" name="quantity" th:value="${product.quantity}">
        <span class="text-danger" th:errors="${product.quantity}"></span>
      </div>
      <button class="btn btn-primary">Save</button>
    </form>
  </div>


</body>
</html>